# SPDX-License-Identifier: MIT
[Unit]
Description=NiaOS internal root preparation socket

[Socket]
ListenSequentialPacket=/run/niaos/root-preparation.sock
SocketUser=root
SocketGroup=nia-pkg
SocketMode=0660
DirectoryMode=0755
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
